  .theme-black .tpl-table-black-operation a.tpl-table-black-operation-green {
  	border: 1px solid #5eb95e;
  	color: #5eb95e;
  }
  
  .theme-black .tpl-table-black-operation a.tpl-table-black-operation-green:hover {
  	background: #5eb95e;
  	color: #fff;
  }
  
#channels-table > tbody > tr > td  {
  	text-align: left;
  }
  
  
 div > a.tpl-table-black-operation-del
 {
 	margin-right: 5px;
 }

 div > a.tpl-table-black-operation-green
 {
 	margin-right: 5px;
 }
 